@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #003329;
}

#text{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.button {
    padding: 8px 16px;
    color: aqua;
    border: 2px solid aqua;
    font-weight: 600;
}

.button:hover{
    box-shadow: 0 0 30px #0ef;
    background-color: white;
}

#resume:hover{
    box-shadow: 0 0 30px #0ef;
    color: aqua;
    background-color: white;
    border: 2px solid aqua;
    padding: 6px 19px;
}

@media screen and (max-width: 600px) {
    .display{
        display: none;
    }
}