@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

#text{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.button {
    padding: 10px 30px;
    color: aqua;
    border: 2px solid aqua;
}

.button:hover{
    color: white;
}

#resume:hover{
    box-shadow: 0 0 30px #0ef;
    color: aqua;
    background-color: white;
    border: 2px solid aqua;
    padding: 6px 19px;
}

/* .button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    height: 100%;
    width: 100%;
} */
